@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeced;
  padding: 30px;
  font-family: 'Lato', sans-serif;

}
main {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
}

.Content-section {
  flex: auto;
  padding: 20px;
}

.Content-Sidebar {
  flex: auto;
  background: linear-gradient(
    167.99deg,
    #43556f 0%,
    #122a4d 35.52%,
    #123066 65.95%,
    #183a7e 98.16%
  );
  border-radius: 0px 10px 10px 0px;
  padding: 20px;
}

.Main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBar{
    padding: 10px 40px;
    background: #F5F4F5;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-right: 20px;
    font-weight: 600;
    color:#041027 ;

}
.SearchBtn {
    background: #F5F4F5;
    padding: 10px 30px;
    border: none;
    color:#122a4d;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    
}
